@import url("https://use.typekit.net/rlw1flw.css");
@import url("https://use.typekit.net/rlw1flw.css");

:root{
  /* Colors */
  --purple-color: #c169aa;
  --pink-color: #ef4478;
  --orange-color: #f1582a;
  --green-color: #cedc29;

  /* Font color */
  --font-color: #000;

  /* Fonts */
  /* --main-font: "loose-extended"; */
  --main-font: "unbounded";
  --secundary-font: Arial;

  /* Titles */
  --title-weight: 800;
  --title-size: 52pt;


  /* Subtitles */
  --subtitle-weight: 600;
  --subtitle-size: 38pt;    
  --h3-size: 28pt;

  /* Button */
  --button-size: 14pt;
  --button-padding: 20px 50px;
  --button-margin: 24px 0;
  --border-radius: 50px;


  /* Section margin */
  --section-margin-top: 124px;
  --section-margin-bottom: 124px;
}

body{
  margin: 0;
  font-family: var(--secundary-font);
  color: var(--font-color);
}

h1{
  font-family: var(--main-font);
  font-weight: var(--title-weight);
  font-size: var(--subtitle-size);
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h2{
  font-family: var(--main-font);
  font-weight: var(--subtitle-weight);
  font-size: var(--subtitle-size);
}
h3{
  font-family: var(--main-font);
  font-weight: var(--subtitle-weight);
  font-size: var(--h3-size);
  margin: 0;
}


a.button{
  display: inline-block;

  background-color: var(--green-color);
  padding: var(--button-padding);
  margin: var(--button-margin);

  border-radius: var(--border-radius);

  font-family: var(--main-font);
  font-size: var(--button-size);
  font-weight: var(--subtitle-weight);
}

ul{
  list-style-type: none;
}

a{
  color: var(--font-color);
  text-decoration: none;
}

nav .inner-wrapper{
  width: 100%;
  height: 20dvh;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;

  a img{
    width: 150px; 
  }

  .button{
    margin: 0;
  }
}


footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 64px 0;

  a, p{
    margin: 8px 0;
  }

  a img{
    margin: 0;
  }

  img.logo{
    width: 100px; 
  }

  img.socials{
    width: 50px
  }

  .footer-left-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-right-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .footer-socials{
    margin-top: 24px;
  }

  .button{
    margin: 0;
  }
}


section{
  margin-bottom: var(--section-margin-bottom);
  margin-top: var(--section-margin-top);
}

section.hero-wrapper{
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("../public/object1.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 0% 80% ;
  margin-top: 0;



  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30vh;
  }
  p{
    max-width: 800px;
  }
}

section.practical-info-wrapper{
  margin-top: -30dvh;

  p{
    max-width: 800px;
  }

  .practical-info-inner-wrapper{
    display: flex;
    justify-self: center;

    margin-top: 48px;
  }


  .specific-info{
    text-align: end;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-right: 32px;
  }
}

section.study-area-wrapper{
  img{
    width: 400px;
  }
  .study-area.inner-wrapper{
    display: flex;
    align-items: flex-start;
  }
}

h2#quick-info{
  font-size: 22pt;
  margin: 0;
}

.countdown {
  display: flex;  
  justify-content: center;
  gap: 16px;

  color: #000;

  .time-wrapper{
    text-align: center;
  }

}

.title-countdown{
  font-size: 42px;
}




@media(min-width: 1200px){
  body{
    display: flex;
    flex-direction: column;
  }
  .inner-wrapper{
    width: 1000px;
    margin: 0 auto;
  }
}