@import '../../app/App.css';

.hero-wrapper{
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    h4{
        text-align: center;
    }
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75dvh;
    }
}

.practical-info-wrapper{

    &--practical-info-text-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            max-width: 850px;
        }
        margin-bottom: 32px;
    }
    &--practical-info-location-wrapper{
       img{
        width: 100%;
        border-radius: 20px;
       }

       &--specific-info{
        margin-top: 24px;
        p{
            text-align: center;
            margin: 0;
        }
       }

       &--specific-info-lower-wrapper{
        p{
            margin: 0;
            text-align: center;
        }
       }
    }

}

.practical-info-wrapper-purple{
    margin-bottom: 0;
    background-color: var(--purple-color);

    &--mct-info-wrapper{
        h2{
            text-align: start;
        }
    }
}

@media(min-width: 1024px){

    .hero-wrapper{
        p{
            max-width: 650px;
        }
    }

    .practical-info-wrapper{

        &--practical-info-text-wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                max-width: 850px;
            }
            margin-bottom: 32px;
        }
        &--practical-info-location-wrapper{

            display: flex;
            justify-content: space-between;
            align-items: center;

            max-width: 850px;

            img{
                max-width: 450px;
                border-radius: 20px;
            }

            &--specific-info{
                &--specific-info-upper-wrapper{
                    h3{
                        text-align: end;
                    }
                    text-align: end;
                }
                &--specific-info-lower-wrapper{
                    p{
                        margin: 0;
                        text-align: end;
                    }
                }
            }

        }

    }
    .practical-info-wrapper-purple{
        background-color: var(--purple-color);

        &--mct-info-wrapper{
            width: 1000px;
            h2{
                text-align: start;
            }
        }
    }
}