.search {
	background-color: #f4f4f4;
	border: none;
	border-radius: 8px;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: "unbounded";
}
input[type="text"] {
	outline-style: none;
}
.search-inner-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.outer-search {
	width: 100%;
}
.search {
	width: 100%;
}
.search-inner-wrapper {
	width: 100%;
}
.searchbar {
	width: 100%;
}
