.large-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	align-items: center;
	font-size: 50px;
}
.small-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.small-container h2 {
	font-size: 30px;
	margin-right: 10px;
}
.image {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin-top: 24px;
	margin-bottom: 40px;
	min-height: 360px;
}

.banner-image {
	position: relative; /* contain absolute children */
	overflow: hidden;
}
.banner-image__photo {
	display: block;
	width: 100%;
	height: auto;
	pointer-events: none;
	overflow: hidden;
}

/* badge wrapper */
.badge {
	position: absolute;
	bottom: 16px;
	left: 16px;
	width: 50%; /* match your SVG artboard width */
}

/* SVG background */
.badge__shape {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* text on top of SVG */
.badge__text {
	position: absolute;
	top: 50%;
	left: 64px; /* push into the “bubble” area */
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	color: #fff;
	pointer-events: none; /* let clicks go through if needed */
}

.badge__text h1,
.badge__text h3 {
	margin: 0;
	line-height: 1;
}

.badge__text h1 {
	font-size: 1.25rem;
}
.badge__text h3 {
	font-size: 1rem;
}
