.program-container {
	position: relative;
	display: flex;
	align-items: flex-start;
	padding: 30px;
	width: 50%;
	margin: 20px auto;
	p {
		position: absolute;
		top: -20px;
		left: 0;
		font-weight: bold;
		margin: 0;
		padding: 10px 0 0 10px;
	}
}

.program-title {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #ddd;
	padding: 10px 40px;
	border-radius: 8px;
	z-index: 2;
	margin: 0;
}

.program-img {
	border-radius: 10px;
	height: 300px;
}
.title-wrapper {
	margin: 0;
	height: 30dvh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	text-align: center;

	background-image: url("../public/object1.png");
	background-repeat: no-repeat;

	/* Ensure the background image does not exceed 335px */
	background-size: min(20%, 335px);
}